:root {
    --light-blue: #c9e1e7;
    --sky-blue: #a5cbd4;
    --grey-blue: #6c919f;
    --dark-blue: #00005e;
    --dark-beige: #c09f72;
    --light-beige: #e4cf9b;
    --red: #d4003b;
    --green: #00e934;
    --bright-blue: #33e4fb;
    --white: #ffffff;
    --black: #000000;
}
