:root {
    --sidebar-width: 14vw;
    --sidebar-text-size: 20px;
    --sidebar-padding-left: 30px;

    --header-text-size: 18px;
    --header-height:12vh;

    --border-radius-size: 0;

    --button-text-size:18px;
    --button-width: 300px;
    --button-height: 50px;

    --margin-top-page-size: 12vh;
    --margin-left-page-size: 14vw;

    --padding-top-main-container: 5vh;



    --normal-text-size: 16px;
    --not-very-big-text-size: 18px;
    --big-text-size: 24px;

    --normal-padding-size: 10px;
    --big-padding-size: 30px;

    --left-margin-size: 14vw;
    --top-margin-size: 10vh;
    --normal-margin-size: 10px;
    --big-margin-size: 30px;

    --text-height-size: 150px;

    --small-width: 300px;
    --small-height: 30px;
    --small-border-radius-size: 8px;
}