.item-container, .item-container-active{
    font-size: var(--sidebar-text-size);
    display: flex;
    padding: 10px;
    padding-left: var(--sidebar-padding-left);
    padding-bottom: 15px;
}

.item-container-active{
    background-color: var(--sidebar-active);
}

.text{
    padding-left: 10px;
}

.item-container :hover, .item-container-active :hover{
    cursor: pointer;
}