.page-style{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-color: var(--backgroung);
    overflow-x: hidden;
}

.content-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: var(--margin-left-page-size);
    box-sizing: border-box;
    overflow-x: hidden;
}

.main-container{
    padding-top: var(--padding-top-main-container);
    width: 100%;
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    /*justify-content: center;*/
    align-items: start;
    margin-top: 10vh;
    padding-left: 200px;
    overflow-x: hidden;
}

.containers-00{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.fields-container{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.field{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-top:  5vh;
    box-sizing: border-box;
}

.buttons-container{
display: flex;
}

.table-title {
    width: 100%;
    display: flex;
    padding-left: 300px;
    /*justify-content: center;*/
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
    margin-bottom: 25px;
}
