.person-container{
    margin: var(--normal-margin-size);
    width: 100%;
}

.container1 {
    width: 100%;
    margin: var(--normal-margin-size);
    display: flex;
}

.container2 {
    width: 100%;
    margin: var(--normal-margin-size);
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.container3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

.container4 {
    display: flex;
    width: 100%;
    justify-content: start;
}

.title2 {
    font-size: var(--big-text-size);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title3 {
    font-size: var(--not-very-big-text-size);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: var(--normal-margin-size);
}

.hidden {
    display: none;
}

.row-container{
    display: flex;
}