.violet-btn, .green-btn, .orange-btn, .blue-btn{
    height: var(--button-height);
    border-radius: var(--border-radius-size);
    padding: var(--normal-text-size);
    border: none;
    margin: 20px;
    font-size: var(--button-text-size);
    }


.violet-btn:hover, .green-btn:hover, .orange-btn:hover, .blue-btn:hover{
    cursor: pointer;
}

.violet-btn{
    width: var(--button-width);
    color: var(--white);
    background-color: var(--violet);
    font-size: var(--normal-text-size);
}

.green-btn{
    width: var(--button-width);
    color: var(--white);
    background-color: var(--green);
    font-size: var(--normal-text-size);
}

.orange-btn{
    width: var(--button-width);
    color: var(--white);
    background-color: var(--orange);
    font-size: var(--normal-text-size);
}

.blue-btn{
    width: var(--button-width);
    color: var(--white);
    background-color: var(--bright-blue);
    font-size: var(--normal-text-size);
}