.btn{
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 15px;
    padding: 20px;
    border: none;
    color: var(--dark-blue);
    background-color: var(--white);
    font-size: 20px;
}

.btn:hover{
    background-color: var(--bright-blue);
    font-weight: bold;
}