.main-info{
    display: flex;
    flex-direction: column;
}

.main-info div{
    margin-bottom: 2vh;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10vw;
}

.row-container{
    display: flex;
}