.dpd{
    height: var(--button-height);
    border-radius: 15px;
    padding: 20px;
    border: 3px solid var(--grey-blue);
    width: var(--button-width);
    color: var(--dark-blue);
    background-color: var(--white);
    font-size: 25px;
}

.text{
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 18px;
}

.dropdown-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
