.exit-container{
    width: 100%;
    display: flex;
    padding: 10px;
    padding-bottom: 15px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.exit-container :hover{
    cursor: pointer;
    font-weight: bold;
}

