.way-container {
    display: flex;
    align-items: center;
}

.text{
    padding: 10px;
}

.right-svg {
    width: 24px;
    height: 24px;
}

.text:hover{
    font-weight: bold;
    cursor: pointer;
}