.header-container{
    background-color: white;
    width: calc(100vw - var(--sidebar-width));
    height: var(--header-height);
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: var(--normal-padding-size);
    box-sizing: border-box;
    font-size: var(--header-text-size);
}

.person-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.text{
    padding: var(--normal-padding-size);
}