.filters-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 60px;
}

.category-room-container img {
    width: 20vw;
    object-fit: contain;
    margin: var(--normal-margin-size);
}

.category-room-container{
    border: 1px solid var(--dark-blue);
    width: 80vw;
    height: fit-content;
    display: flex;
}

.room-container{
    border: 1px solid var(--dark-blue);
    width: 80vw;
    height: fit-content;
    display: flex;
}

.room-container img {
    width: 20vw;
    object-fit: contain;
    margin: var(--normal-margin-size);
}

.rooms-container{

}

.room-description{
    margin-top: var(--normal-margin-size);
    color: var(--dark-blue);
}

.room-title{
    color: var(--dark-blue);
    font-size: var(--big-text-size);
}

.price{
    color: var(--dark-blue);
    font-size: var(--big-text-size);
    margin-top: var(--normal-margin-size);
}

.parameters-container{
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.columns-container{
    display: flex;
    flex-direction: column;
}

