:root {
    --sidebar-not-active: #545D70;
    --sidebar-active: #4B5161;
    --backgroung: #E9EAEE;
    --white: #EEEEEE;
    --black: #000000;
    --bright-blue: #42D5EA;
    --green: #3ff694;
    --orange: #fa532e;
    --violet: #A78BE7;
    --bright-green: #5af31d;
    --red: #d30404;

    --light-blue: #c9e1e7;
    --sky-blue: #a5cbd4;
    --grey-blue: #6c919f;
    --dark-blue: #00005e;
    --dark-beige: #c09f72;
    --light-beige: #e4cf9b;
}
