.back-container{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}

.text{
    padding-left: 10px;
}

.hidden{
    display: none;
}

.back-container :hover{
    font-weight: bold;
    cursor: pointer;
}