.tp{
    height: calc(var(--button-height)*0.9);
    border-radius: var(--border-radius-size);
    padding-left: var(--normal-padding-size);
    padding-right: var(--normal-padding-size);
    border: 3px solid var(--bright-blue);
    width: calc(var(--button-width)*0.915);
    color:black;
    background-color: white;
    font-size: var(--normal-text-size);
}

.text{
    margin-bottom: var(--normal-margin-size);
    margin-left: var(--normal-margin-size);
    font-size: var(--normal-text-size);
}

.time-container{
    margin:  var(--normal-margin-size);
    display: flex;
    flex-direction: column;
}
