.tp{
    height: var(--button-height);
    border-radius: var(--border-radius-size);
    padding: var(--normal-padding-size);
    border: 3px solid var(--grey-blue);
    width: var(--button-width);
    color: var(--dark-blue);
    background-color: var(--white);
    font-size: var(--normal-text-size);
}

.text{
    margin-bottom: var(--normal-margin-size);
    margin-left: var(--normal-margin-size);
    font-size: var(--normal-text-size);
}

.time-container{
    margin:  var(--normal-margin-size);
    display: flex;
    flex-direction: column;
}
